
.tab-contain{
	margin: 50px auto;
	width: 1170px;
	padding:30px;
	background-color:rgba(238,130,238,0.25);
	
}

#tabs {
	overflow: hidden;
	width: 100%;
	font-size:12px;

	font-weight:bold;

	margin: 0;
	padding: 0;
	list-style: none;
}
#tabs li {
	float: left;
	margin: 0;
}
li a {
	position: relative;
	background: #ddd;
	padding: 10px 50px;
	float: left;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	border-radius: 20px 20px 0 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}

 .current a{
 	outline: 0;
 	background: #fff;
	 z-index: 4;
}
.hoverItem a{
	background: #AAC8B9;
}
#content {
	background: rgba(0,152,50,0.5);
	padding: 50px;
	height: 520px;
	position: relative;
	border-radius: 0 5px 5px 5px;
	box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}
.item{
	display: none;
}

.show{
	display: block;
}
.thead{
	height:80px;
	background-color:rgba(255,20,147,0.3);
	color:#FF6;
	font-size:36px;
	font-weight:bold;
}
.datahang{
	height:30px;
	background-color:rgba(204,225,0,0.5);
	color:#F39;
	font-size:30px;
	font-weight:bold;
}